<script>
export default {
  name: '{{pascalCase name}}',
  components: {},
  data: () => ({}),
  computed: {},
  methods: {},
  mounted: {},
}
</script>

<template>
  <div class="{{dashCase name}}">
    <h1>This is a page to module {{ camelCase name }}</h1>
  </div>
</template>

<style lang="scss" scoped>
.{{dashCase name}} {
}
</style>
